.rclearfix {
	display: flex;
	align-items: center;
}

.rhidden {
	display: none;
}

#rmessageForm input[type="file"] {
	display: none;
	/* Hide the file input */
}

#piclabel {
	cursor: pointer;
	padding: 5px 5px;
	background-color: rgb(51, 213, 247);
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 5px;
	min-height: 38px;
	margin-right: 5px;

}

#piclabel:hover {
	background-color: rgb(12, 171, 224);
}

#filelabel {
	cursor: pointer;
	padding: 5px 5px;
	background-color: rgb(245, 219, 33);
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 5px;
	min-height: 38px;
	margin-right: 5px;

}

#filelabel:hover {
	background-color: rgb(247, 147, 55);
}



.rform-control {
	flex: 1;
	width: 100%;
	min-height: 38px;
	font-size: 15px;
	border: 1px solid #c8c8c8;
}

.rform-group {
	margin-bottom: 15px;
}

input {
	padding-left: 10px;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-size: 1.7em;
}

a {
	color: #128ff2;
}

button {
	box-shadow: none;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}

button.default {
	background-color: #e8e8e8;
	color: #333;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.rprimary {
	background-color: #25be38;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}

button.raccent {
	background-color: #1778dd;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}

#rusername-page {
	text-align: center;
	margin-top: 500px;
}


.rusername-page-container {
	background: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	border-radius: 2px;
	width: 100%;
	max-width: 500px;
	display: inline-block;
	margin-top: 42px;
	vertical-align: middle;
	position: relative;
	padding: 15px 55px 35px;
	min-height: 250px;

	position: absolute;
	top: 39%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -160px;
}

.rusername-page-container .rusername-submit {
	margin-top: 200px;
}


#rchat-page {
	position: 50%;
	height: 600px;
}

.rchat-container {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#rchat-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 20px 0px 20px;
	height: calc(100% - 150px);
}

#rchat-page #rmessageForm {
	padding: 20px;
}

#rchat-page ul li {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}

#rchat-page ul li p {
	margin: 0;

}

#rchat-page .event-message {
	width: 100%;
	text-align: center;
	clear: both;
}

#rchat-page .revent-message p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}



#rchat-page .rchat-message {
	padding-left: 68px;
	position: relative;
}




/*#rchat-page .rchat-message span {
    color: #333;
    font-weight: 600;
}*/

#rchat-page .rchat-message p {
	color: #43464b;

}



#rmessageForm .rinput-group input {
	float: left;
	width: calc(100% - 85px);
}

#rmessageForm .rinput-group button {
	float: left;
	width: 80px;
	height: 38px;
	margin-left: 5px;
}

.rchat-header {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Add this line to center the items horizontally */
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

#ruserAvatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

#rchatHeaderPlaceholder {
	margin: 0;
	font-weight: 500;
}


.rconnecting {
	padding-top: 5px;
	text-align: center;
	color: #777;
	position: absolute;
	top: 65px;
	width: 100%;
}




.rchat-header h2 {
	margin: 0;
	font-weight: 500;
}

.rconnecting {
	padding-top: 5px;
	text-align: center;
	color: #777;
	position: absolute;
	top: 65px;
	width: 100%;
}


@media screen and (max-width: 730px) {

	.rchat-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 480px) {
	.rchat-container {
		height: calc(100% - 30px);
	}

	.rusername-page-container {
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
		padding: 25px;
	}

	#rchat-page ul {
		height: calc(100% - 120px);
	}

	#rmessageForm .rinput-group button {
		width: 65px;
	}

	#rmessageForm .rinput-group input {
		width: calc(100% - 70px);
	}

	.rchat-header {
		padding: 10px;
	}

	.rconnecting {
		top: 60px;
	}

	.rchat-header h2 {
		font-size: 1.1em;
	}



}


/* user list style*/
#ruser-list {
	max-height: 400px;
	overflow-y: auto;
}

.ruser-item {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background-color: #f0f0f0;
	color: #333;
	font-size: 16px;
	height: 50px;
	width: 330px;
}

.ruser-avatar {
	border-radius: 50%;
	margin-right: 10px;
}

/* CSS styles for messages sent by the current user */
.rcurrent-user-message {
	background-color: #DCF8C6;
	/* Example background color for the current user's messages */
}

/* CSS styles for messages sent by other users */
.rother-user-message {
	background-color: #F5F5F5;
	/* Example background color for other users' messages */
}


.ruser-item:hover {
	background-color: #e0e0e0;
}

/* CSS styles for the user-item and its content */
.ruser-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	/* Add other styles for user-item as needed */
}

/* CSS styles for the message-content div */
.rmessage-content {
	display: flex;

}

/* CSS styles for the sub-message and time divs inside message-content */
/* CSS styles for the sub-message and time divs inside message-content */
/* CSS styles for the sub-message and time divs inside message-content */
.rsub-message {
	flex: 1;
	/* Take up remaining available space */
	padding: 3px 3px;
	background-color: #f2f2f2;
	border-radius: 5px;
	/* Add bold font weight */
	font-size: 10px;
	width: 2px;
	/* Add larger font size */
}

.rtime {
	margin-left: 10px;
	color: #888;
	font-size: 12px;
}







/* Style for the status indicator circle */
.rstatus-indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
}

/* Green circle for online status */
.rstatus-indicator.ronline {
	background-color: green;
}

/* Red circle for offline status */
.rstatus-indicator.roffline {
	background-color: red;
}

#rsearchInput {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 8px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	/* Ensures padding and border are included in the total width */
	outline: none;
	/* Remove the default focus outline */
}

/* Add a subtle box-shadow on focus */
#rsearchInput:focus {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.rchat-message {
	display: flex;
	/* Use flexbox for the layout */
	align-items: flex-start;
	/* Align items at the start of the flex container */
	margin-bottom: 10px;
}

.rchat-message i {
	width: 40px;
	/* Set the width of the avatar element */
	height: 40px;
	/* Set the height of the avatar element */
	border-radius: 50%;
	/* Make the avatar circular */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
}

.rmessage-content {
	flex: 1;
	/* Let the message content element take the remaining space */
	display: flex;
	flex-direction: column;
}

.rmessage-content span {
	margin-right: auto;
	/* Push the time element to the right side */
}


.rback-button {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 24px;
	cursor: pointer;
}

.rhome-button {
	position: absolute;
	top: 20px;
	left: 50px;
	font-size: 24px;
	cursor: pointer;
}

.rback-button:hover {
	color: #333;
	/* Change the color on hover */
}

#rnotseenuser {
	margin-top: 0%
}

.rchat-photo {
	max-width: 200px;
	/* Adjust the maximum width of the displayed photo */
	max-height: 200px;
	/* Adjust the maximum height of the displayed photo */
	margin-top: 5px;
}



@media (min-width: 1367px) {
	.message-container {
		margin-left: 250px;
		margin-right: 250px
	}

	.message-content {
		/* Add specific styles for medium-sized screens */
	}

	.message-navbar {
		/* Add specific styles for medium-sized screens */
	}
}

@media (max-width: 1366px) {
	.message-container {
		margin-left: 100px;
		margin-right: 100px
	}

	.message-content {
		/* Add specific styles for medium-sized screens */
	}

	.message-navbar {
		/* Add specific styles for medium-sized screens */
	}
}

/* Adjust styles for small-sized screens (e.g., mobile phones) */

/* Custom CSS to style the notification content */